@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body{
    background-color: rgb(238, 250, 255);
}

.menu{
    display: none;
}

.container{
    font-family: Play;
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.column {
    background-color: white;
    width: 100%;
    height: 100%;
    border: solid 1px #05fcef;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.column-title{
    font-size: 24px;
    font-weight: bold;
}

.card{
    text-align: left;
    word-wrap: normal;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(0, 120, 255);
    color: white;
    border-radius: 3px;
    margin-bottom: 5px;
    transition: 0.3s;
}
.card button{
    background-color: white;
    color: black;
}
.card:hover{
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.card-title{
    font-weight: bold;
    font-size: 24px;
}

.card-description{
    font-size: 14px;
}

.link-reference{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.button{
    margin-bottom: 1em;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: rgb(0, 120, 255);
    transition: 0.3s;
    outline: 0;
}
.button:hover{
    cursor: pointer;
    color: black;
    background-color: yellow;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.modal{
    font-family: Play;
    display: none;
    align-items: center;
    justify-content: center;
    color:black;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.modal-form{
    background-color: white;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.modal-form p {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.modal-form input {
    border-radius: 3px;
    border: 1px solid rgba(114, 114, 114, 0.685);
    outline: none;
}

.modal-form textarea {
    border-radius: 3px;
    border: 1px solid rgba(114, 114, 114, 0.685);
    outline: none;
}

.modal-form div {
    display: flex;
    flex-direction: row;
}

.modal-form div button{
    margin: 5px;
    margin-top: 10px;
}







@media (max-width: 850px){

    .menu{
        font-family: Play;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: center;
        position: fixed;
        float: left;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        color: white;
        background-color: rgb(243, 59, 59);
    }

    .menu-button{
        outline: none;
        border: none;
        border-bottom: solid 1px rgb(255,255,255);
        background-color: rgb(243, 59, 59);
        color: white;
        height: 100%;
        transition: 0.3s;
    }
    .menu-button:hover{
        background-color: rgb(243, 82, 82);
    }

    .container{
        display:block;
        width: 100%;
        margin-top: 60px;
    }

    .column{
        display:none;
        margin: 0;
        width: 100%;
        padding: 0;
    }
}